{
  "ecmaFeatures": {
    "modules": true
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "no-loop-func": 0,
    "no-underscore-dangle": 0,
    "strict": [2, "never"],
    "indent": [2, 2],
    "quotes": [2, "single"]
  }
}
